.about-us {
    position: relative;
    box-sizing: border-box;
    background: white;
    margin-top: 60px;
    width: 86%;
    margin-left: 7%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 3%;
}
.about-us__right {
    position: relative;
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
}
.about-us__circle {
    position: absolute;
    background: -webkit-linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: 1;

}
.about-us__right img {
    position: absolute;
    z-index: 2;
    left: 80px;
    top:auto;
    bottom: auto;
}
.about-us__text {
    width: 60%;
    font-size: 2em;
    line-height: 1.2;
}
.about-us__leaf {
    position: absolute;
    width: 10%;
    top: -70px;
    right: -50px;
}