<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>CleanFuture - Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/fonts/merriweathersans/merriweathersans.css">
    <link rel="stylesheet" href="/fonts/pt-sans/PT-Sans_Bold.css">
    <link rel="stylesheet" href="/fonts/pt-sans/PT-Sans_Regular.css">
    <link rel="stylesheet" href="/fonts/opensans/opensans.css">
    <link rel="stylesheet" href="/css/swiper.css">
    <link rel="stylesheet" href="/css/about-us.css">
    <link rel="stylesheet" href="/css/infograf.css">
    <link rel="stylesheet" href="/css/action-dispose.css">
    <link rel="stylesheet" href="/css/our-stats.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>
<body>

<%- include('blocks/header') -%>

<main>
<!--  БЛОК СО СЛОГАНОМ  -->
    <div class="aboutUs-tagline">
        <img class="aboutUs-tagline-trash" src="images/trash.png" alt="мусорное ведро" draggable="false">
        <div class="aboutUs-tagline__text"><span>CleanFuture</span> - заботьтесь о чистоте города с <span>выгодой</span>!</div>
        <img class="aboutUs-tagline-waves" src="images/waves1.png" alt="Тут должны быть волны" draggable="false">
    </div>
<!--  СЛАЙДЕР С РЕКЛАМОЙ  -->
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide slide1">
                <img class="slide1__wave" src="images/litres-wave.png" draggable="false"/>
                <div class="slide1__logo">
                    <div class="slide1__title"><span>Лит</span>Рес</div>
                    <img src="images/litres-ecology.png" alt="закладка" draggable="false">
                </div>
                <div class="slide1__text">Сдайте в CleanFuture <span>5 кг бумаги</span> и получите любую книгу <span>бесплатно</span>!</div>
            </div>

            <div class="swiper-slide slide2">
                <div class="slide2__logotip">
                    <img src="images/vkusno-i-tochka-logo.png" alt="вкусно и точка логотип" draggable="false"/>
                    <div class="slide2__textlogo">ВКУСНО И ТОЧКА</div>
                </div>
                <div class="slide2__text">Сдавайте нашу использованную упаковку в автоматы CleanFuture и получите скидку на следующий заказ!</div>
            </div>

            <div class="swiper-slide slide3">
                <div class="slide3__text">Получайте бонусы за каждую сданную коробку из под обуви или пакет в автомат CleanFuture </div>
                <img src="images/tvoe-logo.png" alt="tvoe-logo" draggable="false">
            </div>
        </div>
    </div>
<!--БЛОК О НАС-->
    <div class="about-us">
        <div class="about-us__right">
            <img id="avtomat" src="images/avtomat.png" alt="автомат для приема мусора" draggable="false">
            <div id="circle" class="about-us__circle"></div>
        </div>
        <div class="about-us__text">CleanFuture - инновационная компания, специализирующаяся на производстве специальных автоматов для приема и утилизации различных видов мусора, включая металл, бумагу и пластик. Наша миссия - содействие в очищении окружающей среды путем поощрения и упрощения процесса утилизации отходов. Мы стремимся сделать утилизацию мусора удобной и доступной для всех. С нашими инновационными автоматами каждый человек может внести свой вклад в сохранение окружающей среды, получая за это денежное вознаграждение. Присоединяйтесь к CleanFuture и вместе мы сделаем мир чище и зеленее!</div>
        <img src="images/leaf.png" alt="листочек" id="leave" class="about-us__leaf" draggable="false">
    </div>
<!--  ИНФОГРАФИКА СДАТЬ МУСОР ПРОЩЕ ЧЕМ КАЖЕТСЯ  -->
    <div class="infograf-container">
        <h2>Сдать мусор - проще, чем кажется!</h2>
        <img src="images/sdacha-mysora-infograf.png" alt="сдача мусора - инфографика" draggable="false"/>
    </div>
<!--  ПРИЗЫВ К ДЕЙСТВИЮ  -->
    <div class="action-dispose">
        <h2>Приступите к сдаче мусора прямо сейчас!</h2>
        <button>Сдать мусор!</button>
    </div>
<!--  СТАТИСТИКА  -->
    <div class="our-stats">
        <h2>С помощью наших автоматов было сдано</h2>
        <div class="our-stats__items">
            <div class="our-stats__item">
                <div class="our-stats__num" id="plastic">0</div>
                <div class="our-stats-text">кг пластика</div>
            </div>
            <div class="our-stats__item">
                <div class="our-stats__num" id="glass">0</div>
                <div class="our-stats-text">кг стекла</div>
            </div>
            <div class="our-stats__item">
                <div class="our-stats__num" id="paper">0</div>
                <div class="our-stats-text">кг бумаги</div>
            </div>
            <div class="our-stats__item">
                <div class="our-stats__num" id="iron">0</div>
                <div class="our-stats-text">кг железа</div>
            </div>
        </div>
    </div>
</main>

<%- include('blocks/footer') -%>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module" src="scripts/swiperConf.js"></script>
<script src="node_modules/animejs/lib/anime.min.js"></script>
<script src="scripts/anim.js"></script>
<script src="scripts/stats.js"></script>

</html>