* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: #E6FDFF;
    font-family: "Open Sans";
    width: 100%;
    max-width: 1920px;

}

/*   СТИЛИ ДЛЯ ШАПКИ   */

header {
    position: sticky;
    top: 0;
    z-index: 100;
    color: #454545;
    font-size: 1.875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    background: white;
    border-radius: 0 0 40px 40px;
    margin-left: 7%;
    padding: 15px 50px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

header .logo {
    font-size: 1.25em;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
}

.logo span {
    color: #18B66A;
}

.header-buttons {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 47%;
}

.header-buttons__item:first-child {
    background: -webkit-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.header-buttons__item {
    position: relative;
    cursor: pointer;
    line-height: 1;
}

a {
    text-decoration: none;
    color: #454545;
}

.header__dispose a {
    color: white;
}

.header-buttons__item:after {
    display: block;
    position: absolute;
    margin-top: 7px;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 5px; /*задаём ширину линии*/
    background: -webkit-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
}

.header-buttons__item:hover:after,
.header-buttons__item:focus:after {
    width: 100%;
}
.header-buttons__item a:hover {
    text-decoration: none;
    color: #454545 !important;
}

.header__dispose {
    background: -webkit-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    color: white;
    padding: 15px 35px;
    border-radius: 40px;
    line-height: normal;
    font-weight: 600;
    cursor: pointer;
    background-size: 150% 100% !important;
    transition: 0.3s;
    display: none;
}

.header__dispose:hover {
    background-position: 100% 0 !important;
    transition: background-position .5s !important;
}

/*   СТИЛИ ДЛЯ БЛОКА СО СЛОГАНОММ   */

.aboutUs-tagline {
    color: #454545;
    background: white;
    overflow: hidden;
    width: 86%;
    height: 750px;
    margin-top: 45px;
    margin-left: 7%;
    border-radius: 40px;
    position: relative;
}

.aboutUs-tagline-trash {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 110px;
}

.aboutUs-tagline-waves {
    position: absolute;
    bottom: 0;
    right: 0;
}

.aboutUs-tagline__text {
    position: absolute;
    font-size: 2.5em;
    font-family: "Open Sans";
    font-weight: 600;
    width: 40%;
    right: 100px;
    top: 100px;
}

.aboutUs-tagline__text span {
    background: -webkit-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    border-radius: 40px;
    color: white;
    padding: 5px 20px;
}
/*Стили заголовков*/
h2 {
    font-size: 3.4375em;
    font-weight: 700;
    background: #18B66A;
    background: -webkit-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
    cursor: context-menu;
}
h3 {
    font-size: 1.5em;
    font-weight: 700;
    background: #18B66A;
    background: -webkit-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(90deg, rgb(24, 182, 106), rgb(87, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: context-menu;
}
/*   СКРОЛЛБАР   */
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #18B66A #FFFFFF;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 13px;
    width: 13px;
}
*::-webkit-scrollbar-track {
    border-radius: 9px;
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:active {
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #18B66A;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #1CD57C;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #18B66A;
}

