.popup__photo__main-wrap {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}
.popup__photo {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-photo__wrapper {
    background-color: white;
    color: #18B66A;
    border-radius: 20px;
    width: 50%;
    font-size: 1.5em;
}
.new-photo__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: 600;
    border-bottom: 1px #18B66A solid;
}
.new-photo__close {
    cursor: pointer;
    transition: 0.4s; 
}
.new-photo__close:hover {
    transform: rotateZ(90deg);
}
.new-photo__body {
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
.new-photo__text {
    font-weight: 600;
    margin-bottom: 50px;
}
.new-photo__footer {
    width: 100%;
    text-align: center;
    border-top: 1px #18B66A solid;
    font-weight: 600;
    font-size: 0.8em;
    padding: 10px 20px;
}


.input__wrapper {
    position: relative;
    margin: 15px 0;
    text-align: center;
    
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #fff;
  }
   
  .input__file-button-text {
    line-height: 1;
    margin-top: 1px;
    text-align: center;
    width: 100%;
  }
   
  .input__file-button {
    width: 100%;
    max-width: 290px;
    height: 60px;
    background: #18B66A;
    color: #fff;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
  }
  #uploadFile {
    display: none;
    background: -webkit-linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    border: none;
    border-radius: 15px;
    font-size: 1.1em;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-size: 150% 100% !important;
    transition: 0.3s;
    margin: auto;
  }