.about-me__wrapper {
    width: 86%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    height: 350px;
}
.about-me-photo {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 40px;
    overflow: hidden;

    display: flex; /* Используем flex-контейнер для центрирования */
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */

}
.about-me-photo img {
  max-width: 100%; /* Максимальная ширина изображения равна ширине контейнера */
  max-height: 100%; /* Максимальная высота изображения равна высоте контейнера */
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-me-photo__edit-photo {
    background: rgba(0, 0, 0, 0.47);
    height: 40px;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3S ease-out;
    opacity: 0;
}
.about-me-photo__edit-photo:hover {
    opacity: 1;
    cursor: pointer;
}
.about-me__general-information {
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border-radius: 40px;
    color: #18B66A;
    padding: 0 30px;
}
.about-me-data__wrapper {
    display: flex;
    font-size: 1.5em;
}
.about-me-data__right-side {
    margin-right: 30px;
}
.about-me__wrapper button {
    background: -webkit-linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1.5em;
    display: block;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-size: 150% 100% !important;
    transition: 0.3s;
}
.about-me__wrapper button:hover {
    background-position: 100% 0 !important;
    transition: background-position .5s !important;
}
.about-me__qr-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    text-align: center;
}
.about-me__qr img {
    width: 200px;
    height: 200px;
}
.about-me__qr-title {
    width: 100%;
    font-weight: 600;
    font-size: 1.3em;
}
.about-me-finance {
    background: white;
    height: 100%;
    border-radius: 40px;
    width: 20%;
    padding: 30px;
    color: #18B66A;

}
.about-me-finance__title,.about-me-finance__balance {
    font-size: 1.5em;
}
.about-me-finance__balance {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.about-me-finance__ico {
    margin-right: 20px;
}
.about-me-finance__dep,.about-me-finance__withdraw {
    margin: auto;
}
.profile-promo {
    width: 86%;
    margin: auto;
    margin-top: 110px;
    height: 240px;
    display: flex;
    justify-content: space-between;
}
.profile-promo form {
    background: white;
    padding: 30px;
    border-radius: 40px;
    height: 100%;
    width: 40%;
}
.profile-promocode-input__title {
    color: #18B66A;
    font-size: 1.5em;
}
.profile-promo form input[type=text] {
    width: 100%;
    margin-top: 30px;
    border: #18B66A 1px solid;
    border-radius: 15px;
    height: 45px;
    font-size: 1.25em;
    padding-left: 15px;
}
.profile-promo form input[type=submit] {
    width: 100%;
    margin-top: 30px;
    background: -webkit-linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: -moz-linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    background: linear-gradient(45deg, rgb(24, 182, 106), rgb(87, 255, 0));
    border: none;
    border-radius: 15px;
    font-size: 1.5em;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-size: 150% 100% !important;
    transition: 0.3s;
}
.profile-promo form input[type=submit]:hover {
    background-position: 100% 0 !important;
    transition: background-position .5s !important;
}
.promotion-wrapper {
    width: fit-content;
    flex-grow: 1;
    margin-left: 40px;
    position: relative;
}
.promotion-additional-wrapper {
    background: white;
    border-radius: 40px;
    font-size: 1.5em;
    color: #18B66A;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.promotion-title {
    width: 70%;
    margin: 30px;
    z-index: 10;
    position: absolute;
}
.promotion__clean-city {
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 5;
}
.promotion__waves {
    position: absolute;
    right: 0;
    top: 0;
}
.promotion__circles {
    position: absolute;
    left: -25px;
    top: -25px;
}