<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
    <div class="footer-wrapper">
        <div class="footer-copyright">
            <div class="footer-copyright__logo">
                <img src="images/logo-white.png" class="footer-copyright__ico" alt="наш логотип" draggable="false">
                <div class="footer-copyright__name">CLEANFUTURE</div>
            </div>
            <div class="footer-copyright__secure">©  2024 Все права защищены!</div>
        </div>
        <div class="footer-navigation">
            <div class="footer-navigation__title"><b>Навигация</b></div>
            <div class="footer-navigation__item">О нас</div>
            <div class="footer-navigation__item">Тех. Поддержка</div>
            <div class="footer-navigation__item">Контакты</div>
            <div class="footer-navigation__item">Профиль</div>
            <div class="footer-navigation__item">Сдать мусор</div>
        </div>
        <div class="footer-offer">
            <div class="footer__conditions"><b>Условия оферты</b></div>
            <div class="footer__policy"><b>Политика обработки персональных данных</b></div>
            <div class="footer__email"><b>Почта для связи:</b> cleanfuture-support@mail.ru</div>
        </div>
    </div>
</footer>